


/* 129mm wide by 108mm height*/
.canvas {
    background-color: #c3c0b9; 
    height: 108mm;
    width: 129mm;
    position: relative;
    overflow: hidden;
}
.circle, 
.bar-1-black, 
.bar-2-black,
.bar-1-red,
.bar-2-red {
    position: absolute;
}
.bar-1-black, 
.bar-2-black,
.bar-1-red,
.bar-2-red {
    
    width: 200%;

}
.bar-1-black, .bar-2-black {
    background-color: #000;
    opacity: .8;
}

.bar-2-red, .bar-1-red {
    background-color: #c13720; 
    opacity: .599999;
    top: 49.5mm;
    left: -49.5mm; 
}
.bar-1-black, .bar-2-black {
    top: 54mm;
    left: -47.5mm;
}

.bar-1-black, .bar-1-red {
    /* height: 26.66666666666667%; */
    height: 29.8mm;
}

.bar-2-black, .bar-2-red {
    /* height: 28.7037037037037%; */
    height: 31mm;
}

/* semi-vertical black line */
/* 28mm width */
.bar-1-black {
    -ms-transform: rotate(-67deg); /* IE 9 */
    -webkit-transform: rotate(-67deg); /* Safari */
    transform: rotate(-67deg);
}
/* 28mm width */
.bar-1-red {
    -ms-transform: rotate(-50deg); /* IE 9 */
    -webkit-transform: rotate(-50deg); /* Safari */
    transform: rotate(-50deg);
    z-index: 10;
}
/* semi-horizontal red line */
/* 31mm width */
.bar-2-red {
    z-index: 20;
    -ms-transform: rotate(40deg); /* IE 9 */
    -webkit-transform: rotate(40deg); /* Safari */
    transform: rotate(40deg);
}
/* semi-horizontal black line */
/* 31mm wide*/
.bar-2-black {
    -ms-transform: rotate(29deg); /* IE 9 */
    -webkit-transform: rotate(29deg); /* Safari */
    transform: rotate(29deg);
}
.circle {
    background-color: #ebe4d2;
    width: 46.51162790697674%;
    height: 55.55555555555556%;
    /* height: 60mm; */
    border-radius: 50%;
    top: 7.2mm;
    left: 23.2mm;
    opacity: .8;
}
div {
    transition: all 0.5s ease;
}